.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover .logo__decorative-item {
    fill: var(--blaze-orange);
}

.logo__decorative-item {
    transition: .125s ease-out;
}